<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
  <!-- A time/date based rolling appender -->
  <appender name="SERVER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.home}/logs/server.log"/>
    <param name="Append" value="true"/>
    <param name="Threshold" value="INFO"/>

    <!-- Rollover at midnight each day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>

    <!-- Rollover at the top of each hour
    <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
    -->

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n 
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/> 
      -->

      <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n -->
      <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
       
    </layout>	    
  </appender>

  <!-- ================================= -->
  <!-- task manager application messages -->
  <!-- ================================= -->
  
  <appender name="APP" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.home}/logs/taskManager.log"/>
    <param name="Append" value="true"/>
    <param name="Threshold" value="DEBUG"/>

    <!-- Rollover at midnight each day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

    </layout>	    
  </appender>
  
  <category name="taskmanager6000">
      <appender-ref ref="APP"/>
  </category>

  <category name="org.hsqldb">
      <appender-ref ref="SERVER"/>
  </category>

  <category name="hsqldb.db">
      <appender-ref ref="SERVER"/>
  </category>

  <category name="org.hibernate">
      <appender-ref ref="SERVER"/>
  </category>

  <category name="System.out">
      <appender-ref ref="SERVER"/>
  </category>
  
  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->

  <root>
    <appender-ref ref="SERVER"/>
  </root>

</log4j:configuration>
